 <main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
    <section class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center" style="min-width: 380px;">
        <form class="w-50 m-auto">
            <h2>New Product</h2>
            <fieldset class="mb-3 text-center">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title">
            </fieldset>
            <fieldset class="mb-3 text-center">
                <label for="photo" class="form-label">Photo</label>
                <input type="text" class="form-control" id="photo">
            </fieldset>
            <fieldset class="mb-3 text-center">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price">
            </fieldset>
            <fieldset class="mb-3 text-center">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock">
            </fieldset>
            <button type="button" id="new-product" class="w-100 btn btn-primary mt-3">Create product</button>
        </form>
    </section>
 </main>
<script src="/scripts/product.js"></script>