<h1>Productos</h1>
<div class="d-flex justify-content-center">
    <article id="product" class="d-flex justify-content-center">
    </article>  
</div>
<script src="/socket.io/socket.io.js"></script> 
<script src="/real.js"></script>