<link rel="stylesheet" href="/styles.css">
<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
    <section class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center" style="min-width: 380px;">
        <form class="w-50 m-auto">
            <h2>Verify New User</h2>
            <fieldset class="mb-3 text-center">
                <label for="email" class="form-label mb-0">Email</label>
                <input type="verify-email" class="form-control" id="verify-email" />
            </fieldset>
            <fieldset class="mb-3 text-center">
                <label for="code" class="form-label mb-0">Verify Code</label>
                <input type="text" class="form-control" id="verify-code" />
            </fieldset>
            <button id="verify" type="button" class="w-100 btn btn-primary mt-3">Verify</button>
        </form>
    </section>
</main>
<script src="/scripts/verify.js"></script>